<% content_for :title do %>
  <%= @title %> | LofiMusic
<% end %>
<section class='container mx-auto h-screen max-w-5xl'>
  <div class="flex items-center justify-between py-4">
    <div>
      <h1 class='text-2xl'>Edit</h1>
    </div>
    <div>
    </div>
  </div>
  <%= render 'form', album: @albums %>
</section>
